{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{% static "shots_app/css/materialize.min.css" %}" media="screen,projection"/>
    <script type="text/javascript" src="{% static "shots_app/js/materialize.min.js" %}"></script>
    <title>Create Game</title>
  </head>

  <body>

    <form action="/shots/submit/" method = "post">
      {% csrf_token %}

      Title:<br>
      <input type="text" name="title" value="Game Title">
      <br>
      <br><br>
      <br><br>

      Whenever this happens:<br>
      <input type="text" name="trigger" value="e.g. someone says potato">
      <br><br>
      <br><br>

      Then do this:<br>
      <input type="text" name="action" value="Pushups">
      <br><br>
      This many times:
      <input type="text" name="action_amount" value="1">
      <br><br>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
