{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{% static "shots_app/css/materialize.min.css" %}" media="screen,projection"/>
    <script type="text/javascript" src="{% static "shots_app/js/materialize.min.js" %}"></script>
    <title>Create Game</title>
  </head>

  <body>
    <form action="submit" method = "post">
      Title:<br>
      <input type="text" name="title" value="Game Title">
      <br>
      <br><br>
      <br><br>

      Triggers (What should trigger the action?):<br>
      <input type="text" name="trigger" value="Every time someone says potato">
      <br><br>
      <br><br>

      Actions:
      What action should you do as a result?:<br>
      <input type="text" name="action" value="Pushups">
      <br><br>
      How many of those should you do each time?
      <input type="text" name="action_amount" value="1">
      <br><br>

      <form action = '/shots/<int:game_id>/'>
        <input type="submit" id = "b1" value="Submit">
        <!-- <script>
        $(document).ready(function(){
        $("#b1").click(function(){
        $.ajax({
        method: "make_drinking_game",
        url: "/make_drinking_game/",
        data: {"place" : value},
        dataType: "text",
        success: function(result){
        var data=JSON.parse(result);
        console.log(result);
        }
        });
        });
        </script> -->
      </form>
      <br><br><br><br><br><br>TEST<br><br>
      <form action="submit" method="post">
        <input type="text" name="info"><br>
        <input type="submit" value="Submit">
      </form>


    </form>

  </body>
</html>

<!-- tite, triggers+actions corresponding to triggers -->

<!-- actions should have amount and description -->

<!-- triggers should only have a description -->
