{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{% static "shots_app/css/materialize.min.css" %}" media="screen,projection"/>
    <script type="text/javascript" src="{% static "shots_app/js/materialize.min.js" %}"></script>
    <title>{{game.title}}</title>
  </head>

  <body>
    {% if triggers_with_actions %}
      <h3>{{game.title}}</h3>
      <p>played {{ game.play_count }} times</p>
      <p>created: {{ game.pub_date }}</p>
      <p>last played: {{ game.play_date }}</p>
      <p>average rating: {{ game.rating }} / 5</p>
      <br>
      {% for i in range %}
        <h6>Every time this happens:</h6>
        <p>{{ triggers_with_actions[i][0].description }}</p>
        <h6>Do this:</h6>
        <p>{{ triggers_with_actions[i][1].description }}</p>
        <h6>This many times:</h6>
        <p>{{ triggers_with_actions[i][1].amount }}</p>
        <br>
      {% endfor %}
    {% else %}
        <p>Can't find the data for this game :(</p>
    {% endif %}
  </body>
</html>
