{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{% static "shots_app/css/materialize.min.css" %}" media="screen,projection"/>
    <script type="text/javascript" src="{% static "shots_app/js/materialize.min.js" %}"></script>
  </head>
  <body>
    {% if latest_games %}
        <ul>
        {% for game in latest_games %}
            <li><a href="/shots/{{ game.id }}/">{{ game.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No drinking games have been made.</p>
    {% endif %}

    {% if most_played %}
        <ul>
        {% for game in most_played %}
            <li><a href="/shots/{{ game.id }}/">{{ game.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No drinking games have been made.</p>
    {% endif %}

    {% if top_rated %}
        <ul>
        {% for game in top_rated %}
            <li><a href="/shots/{{ game.id }}/">{{ game.title}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No drinking games have been made.</p>
    {% endif %}

    <button>
      Create your own!
    </button>
  </body>
</html>
